<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">
		<div class="card bg-dark text-white">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/confirma_prestamo}" th:object="${libro}"
					method="post">
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Código</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{id}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Título</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{titulo}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Autor</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{autor}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Año</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{anio}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Categoria</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{categoria}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Stock</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{stock}" class="form-control"
								readonly />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Solicitar Préstamo" class="btn btn-primary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>